@model ResultProductByIdDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<h1> ürün güncelleme sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="ProductId" class="form-control" />
    <label>Resim</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <br />
    <label>Ürün Fiyat</label>
    <input type="text" asp-for="ProductPrice" class="form-control" />
    <br />
    <label>Kategori</label>
    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.SelectListItem"> </select>
    <br />
    <label>Açıklama</label>
    <textarea type="text" asp-for="Description" rows="5"  class="form-control" ></textarea>
    <br />
    <button class="btn btn-outline-primary">güncelle</button>
</form>

