@model List<ResultPhotoDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<br />
<div class="col-lg-12 grid-margin stretch-card mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Fotoğralar Alanı</h4>
            <small class="card-description ">
                Fotoğraf ekleme silme veya güncelleme işlemlerini buradan gerçekleştirebilirsiniz.
            </small>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>Fotoğraf</td>
                            <td colspan="2">İşlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.PhotoId</th>
                                <td>@item.ImageUrl</td>
                                <td><a href="/Admin/Photo/DeletePhoto/@item.PhotoId" class="btn btn-outline-danger"><i class="la la-trash"></i> Sil</a></td>
                                <td><a href="/Admin/Photo/UpdatePhoto/@item.PhotoId" class="btn btn-outline-success"><i class="la la-edit"></i> Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Photo/CreatePhoto" class="btn btn-outline-primary"><i class="la la-pencil"></i> Yeni fotoğraf ekle</a>
            </div>
        </div>
    </div>
</div>



