<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="index.html">Restaurantly</a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Ana Sayfa</a></li>
                <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
                <li><a class="nav-link scrollto" href="#menu">Menüler</a></li>
                <li><a class="nav-link scrollto" href="#specials">Spesyallerimiz</a></li>
                <li><a class="nav-link scrollto" href="#events">Etkinlikler</a></li>
                <li><a class="nav-link scrollto" href="#chefs">Ekip Arkadaşlarımız</a></li>
                <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
             
                <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Reservasyon Yap</a>

    </div>
</header><!-- End Header -->