
@{
    Layout = "~/Views/UILayout/Index.cshtml";
    
}


@await Component.InvokeAsync("_DefaultFeatureComponentPartial")

<main id="main">

    @await Component.InvokeAsync("_DefaultAboutComponentPartial")

    @await Component.InvokeAsync("_DefaultWhyUsComponentPartial")

    @await Component.InvokeAsync("_DefaultMenuComponentPartial")

    @await Component.InvokeAsync("_DefaultSpecialsComponentPartial")

    @await Component.InvokeAsync("_DefaultEventComponentPartial")

    @await Component.InvokeAsync("_DefaultReservationComponentPartial")

    @await Component.InvokeAsync("_DefaultTestimonailComponentPartial")

    @await Component.InvokeAsync("_DefaultGalleryComponentPartial")

    @await Component.InvokeAsync("_DefaultCheffComponentPartial")

    @await Component.InvokeAsync("_DefaultContactComponentPartial")

   

</main>