@model List<ResultTestimonialDto>
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Ziyaretçilerimiz</h2>
            <p>Ziyaretçilerimizin Görüşleri</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Comment
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="@item.ImageUrl" class="testimonial-img" alt="">
                            <h3>@item.NameSurname</h3>
                            <h4>@item.Location</h4>
                        </div>
                    </div>
                }
              

         

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>