@model List<ResultFeatrueDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<br />
<div class="col-lg-12 grid-margin stretch-card mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öne Çıkan Alanı</h4>
            <small class="card-description ">
                Öne Çıkan ekleme silme veya güncelleme işlemlerini buradan gerçekleştirebilirsiniz.
            </small>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>Görsel</td>
                            <td>Başlık</td>
                            <td>Açıklama</td>
                            <td colspan="2">İşlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.FeatureId</th>
                                <td><img src="@item.ImageUrl" style="width:80px; height:80px" /></td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td><a href="/Admin/Feature/DeleteFeature/@item.FeatureId" class="btn btn-outline-danger"><i class="la la-trash"></i> Sil</a></td>
                                <td><a href="/Admin/Feature/UpdateFeature/@item.FeatureId" class="btn btn-outline-success"><i class="la la-edit"></i> Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Feature/CreateFeature" class="btn btn-outline-primary"><i class="la la-pencil"></i> Yeni öne çıkan ekle</a>
            </div>
        </div>
    </div>
</div>


