@model CreateMessageDto
<form method="post" asp-action="SendMessage" asp-controller="Default">
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="text" class="form-control bg-dark text-white" style="border-color:transparent" asp-for="NameSurname" id="name" placeholder="Ad Soyad" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control bg-dark text-white" style="border-color:transparent" asp-for="Email" id="email" placeholder="Email Adresiniz" required>
        </div>
    </div>
    <div class="form-group mt-3">
        <input type="text" class="form-control bg-dark text-white" style="border-color:transparent" asp-for="Title" id="subject" placeholder="Konu Başlığı" required>
    </div>
    <div class="form-group mt-3">
        <textarea class="form-control bg-dark text-white" style="border-color:transparent" rows="8" asp-for="MessageContent" placeholder="Mesajınız" required></textarea>
    </div>
    <br />
    <div class="text-center"><button type="submit" class="btn btn-dark">Gönder</button></div>
</form>