@model List<ResultMessageDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<br />
<div class="col-lg-12 grid-margin stretch-card mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Alanı</h4>
            <small class="card-description ">
                Kullanıcıların gönderdiği mesajları burada listenir, seçtiğiniz mesaj detayını ilgili buton aracılığıyla görüntüleyebilirisiniz.
            </small>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>Ad Soyad</td>
                            <td>Email</td>
                            <td>Başlık</td>
                            <td class="text-center" colspan="2">İşlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.MessageId</th>
                                <th>@item.NameSurname</th>
                                <td>@item.Email</td>
                                <td>@item.Title</td>
                    
                                <td style="width:40px" class="text-center"><a href="/Admin/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger"><i class="la la-trash"></i> Sil</a></td>
                                <td style="width:40px" class="text-center"><a href="/Admin/Message/MessageDetail/@item.MessageId" class="btn btn-outline-success"><i class="la la-search"></i> Detay</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



